extends ../layout

block content
  include ../_partials/sidebar

  .container
    .right-contents
      include ../section_header
      .tabs
        ul
          li(class= activeTab === 'home' ?  'active' : '')
            a(href="/cargo") My Cargo
          li
            //- a(href="/cargo/upload") Upload
          li
            //- a(href="/cargo/upload") Track

      .tab-contents
        .container
          if activeTab 
            if  activeTab === 'home'
              include ./tabs/index
            else if activeTab === 'addCargo'
                
