extends ../layout

block content
  include ../_partials/sidebar

  .container
    .right-contents
      include ../section_header
      .tabs
        ul
          li(class= activeTab === 'home' ?  'active' : '')
            a(href="/bond") Bonds
          
          li(class= activeTab === 'create' ?  'active' : '')
            a(href="/bond/create") Add Bond
          
          //- li(class= activeTab === 'usage' ?  'active' : '')
            a(href="/bond/usage") Usage
          
      .tab-contents
        .container
          if activeTab 
            if  activeTab === 'home'
              include ./tabs/index
            if  activeTab === 'create'
              include ./tabs/create
            if  activeTab === 'usage'
              include ./tabs/usage
            if  activeTab === 'edit'
              include ./tabs/edit