div
  //- if username && phone && password
    h5 Username: #{username} or #{phone} <br /> Password: #{password}

  div.form-container
    form(action="/bond/create", method="POST")
      //- input(type='hidden', name='_csrf', value=_csrf)
      div.form-group
        table.table
          tr
            td.form-label Security No:
            td
              input.form-control(type="text", name="securityNo", placeholder="Security No", require)
          tr
            td.form-label Amount
            td 
              input.form-control(type="text", name="amount", placeholder="Amount", required)
          tr
            td.form-label Bond Type
            td
              select.form-control(name="type")
                option(value="CB8") CB8
          tr
            td.form-label Valid From:
            td
              input.form-control(type="date", name="validFrom", required)
          tr
            td.form-label Valid To:
            td
              input.form-control(type="date", name="validTo", required)
          tr
            td.form-label Status:
            td
              select.form-control(name="active", required)
                option(value= "true") Active
                option(value= "false") Suspended
      div.form-group
        input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Add Bond")