div
  div.form-container
    form.form(action="/bond/update", method="POST")
      input(type="hidden", value= bond.id, name="bondId")
      div.form-group
        table.table
          tr
            td.form-label Security No:
            td
              input.form-control(type="text", name="securityNo", placeholder="Security No", value= bond.securityNo, require)
          tr
            td.form-label Amount
            td 
              input.form-control(type="text", name="amount", placeholder="Amount", value= bond.amount, required)
          tr
            td.form-label Bond Type
            td
              select.form-control(name="type")
                option(value="CB8") CB8
          tr
            td.form-label Valid From:
            td
              input.form-control(type="date", name="validFrom", value= moment(bond.validFrom).format('YYYY-MM-DD'), required)
          tr
            td.form-label Valid To:
            td
              input.form-control(type="date", name="validTo", value = moment(bond.validTo).format('YYYY-MM-DD'), required)
          tr
            td.form-label Status:
            td
              select.form-control( name="active", required)
                if bond.active
                  option(value= "true") Active
                  option(value= "false") Suspended
                else
                  option(value= "false") Suspended
                  option(value= "true") Active
      div.form-group
        input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Update")