div
  div
    table.table.table-bordered.table-sm
      thead.bg-success.text-center(style="color: white; font-size: 15; font-weight: bold;")
        td.text-center No:
        td.text-center Security No:
        td.text-center Validate Term
        td.text-center Amount
        td.text-center Status
        td.text-center Actions

      if bonds && bonds.length > 0
        - let counter = 1;
        each bond in bonds
          tr
            td #{counter++}
            //- td #{new Date(bond.validTo).getTime()} #{new Date().getTime()}
            td.text-left #{bond.securityNo}     
            td.text-center(class=  bond.active ? "": "text-danger" ) #{isExpired} <strong>#{moment(bond.validFrom).format("MMM Do, YYYY")}</strong> <span> to </span> <strong>#{moment(bond.validTo).format("MMM Do, YYYY")}</strong>  
            td.text-right #{accounting.formatMoney(parseInt(bond.amount), "TZS ")}    
            td.text-center #{bond.active ? 'Active' : 'Suspended'} 
            td
              a.btn.btn-primary.btn-sm(href=`/bond/${bond._id}/edit`) Edit
              a.btn.btn-danger.btn-sm(href=`/bond/${bond._id}/delete`) Delete
  div
    .modal#editBond(tabindex="-1", role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-header Edit
          .modal-body