div
  div
    div= JSON.stringify(cargos)
    table
      thead
        td 
        td 
        td 
        td 
        td 
      tbody
        each cargo in cargos
          td
          td
          td
          td
          td