body {
  background: #F8F8F8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

input {
  /*height: 30px;*/
  /*border-radius: 0px;*/
}

.auth-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.user-profile {
  color: grey;
  font-size: 17px;
  margin: 0px auto;
  width: 450px;
}

.no-radius-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.no-radius-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.no-radius {
  border-radius: 0px;
}

.auth-form .form-control {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.navbar-nav a {
  font-size: 16px;
  font-weight: bold;
  /* color: white !important; */
}

.notification-label {
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 13px;
  top: 23px;
  right: 91px;
}

.form-container {
  max-width: 364px;
  margin: 0px auto;
}

.form-container .form-label {
  color: grey;
  font-size: 14px;
  font-weight: 700;
}

.form-container td {
  padding: .45rem;
  vertical-align: middle;
  border: none;
}


/*

.auth-form input.form-control {
  border-radius: 0px;
}

.auth-form input.form-control:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.auth-form input.form-control:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
} */

.logo-container {
  margin-bottom: 3em;
}

.sidebar {
  /* display: none; */
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* padding-left: 0px; */
  padding: 20px 0;
  /* padding-right: 10em; */
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  max-width: 8em;
  text-align: center;
  padding-top: 80px;
}

.sidebar a {
  color: #dedede;
}

.sidebar li {
  padding: 3px 0px;
}

.sidebar li.active {
  background: #343a40;
}

.sidebar p {
  font-size: 1.2em;
  margin-bottom: 0px;
  /* color: white; */
}

section.page-header {
  padding-top: 1.5em;
}

section.page-header .header-title {
  font-size: 18px;
  line-height: 34px;
  /*! text-transform: uppercase; */
  color: #6b5e5e;
  /*! font-weight: bold; */
}

section.page-header .header-title .sub-header {
  font-weight: bold;
  font-size: 15px;
}

.right-contents {}

.right-contents .tabs {
  /* border-bottom: 3px solid #3fb7e6; */
}

.right-contents .tabs ul {
  margin: 0px;
  padding: 0px;
}

.right-contents .tabs li {
  display: inline-block;
}

.right-contents .tabs a {
  display: inline-block;
  padding: 5px 12px;
  min-width: 5em;
  text-align: center;
  font-size: 15px;
}

.right-contents .tabs a:hover {
  text-decoration: none;
}

.right-contents .tabs li.active {
  background: #23eab8;
}

.right-contents .tabs li.active a {
  background: #3fb7e6;
  color: white;
  font-weight: bold;
}

.right-contents .tab-contents {
  background: white;
  border-top: 3px solid #3fb7e6;
  box-shadow: 0 2px 1px #777;
  padding: 2em 0px;
}


/* END OF CONTENT TABS */


/*  CARDS */

.card {
  padding: 1em;
  width: 23em;
}

.card .card-title {
  color: grey;
  font-size: 1.5em;
}

footer {
  padding-top: 2em;
}

footer p {
  line-height: 9px;
}