extends ../layout

block content
  include ../_partials/sidebar

  .container
    .right-contents
      include ../section_header
      if user.level.includes('admin')
        .pull-right
          form(action="/files/excel/import", enctype="multipart/form-data", method="post")
            input(type="file" name="excelFile" multiple="multiple")
            input(type="submit", value="Import Transit Report")

      .clearfix
      .tabs
        ul
          li(class= activeTab === 'home' ?  'active' : '')
            a(href="/clearance") All
          //- li(class= activeTab === 'import' ?  'active' : '')
            a(href="/clearance/import") Import
          li(class= activeTab === 'export' ?  'active' : '')
            a(href="/clearance/export") Export
          
      .tab-contents
        .container
          if activeTab 
            if  activeTab === 'home'
              include ./tabs/index
            if  activeTab === 'edit'
              include ./tabs/edit
            if  activeTab === 'showTransit'
              include ./tabs/show            
            if  activeTab === 'import'
              include ./tabs/import
            if  activeTab === 'export'
              include ./tabs/export
              
