extends ../layout

block content
  section.page-header
    div.text-center
      h5.header-title User Management

  .container
    .tab-contents
      .container
        if activeTab 
          if  activeTab === 'allUsers'
            include ./tabs/index
          else if activeTab === 'createUser'
            include ./tabs/create
          else if activeTab === 'changePass'
            include ./tabs/change_password