extends ../layout

block content
  section.page-header
    //- div.logo-container.text-center
        img(src="/public/images/logo.png", alt="logo")
    div.text-center
      h3.header-title Login

  div.container
    div.auth-form      
      form(action="/auth/login", method="POST")
        //- input(type='hidden', name='_csrf', value=_csrf)
        div.form-group
          input.form-control.input-lg.no-radius-bottom(type="text", name="username", placeholder="Username or Email", autofocus, required)
          input.form-control.input-lg.no-radius-top(type="password", name="password", placeholder="Password", required)
        div.form-group
          input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Login")
      div
        //- a(href="/users/enquiry?issue=registered") Not registered? <br>
        //- a(href="/users/enquiry?issue=forgotpassword") Forgot Password?