extends ../layout

block content
  include ../_partials/sidebar

  .container
    .right-contents
      include ../section_header
      if sidebarActive !== 'profile'
        .tabs
          ul
            li(class= activeTab === 'allUsers' ?  'active' : '')
              a(href="/users") Staff
            li(class= activeTab === 'createUser' ?  'active' : '')
              a(href="/users/create") Add Staff

      .tab-contents
        .container
          if activeTab 
            if  activeTab === 'allUsers'
              include ./tabs/index
            else if activeTab === 'createUser'
              include ./tabs/create
            if  activeTab === 'clients'
              include ./tabs/clients
            else if activeTab === 'createClient'
              include ./tabs/create_client
            else if activeTab === 'changePass'
              include ./tabs/change_password
            else if activeTab === 'profile'
              include ./tabs/profile
              
              

            
