extends ../layout

block content
  include ../_partials/sidebar

  .container
    .right-contents
      include ../section_header
      
      .tabs
        ul
          li.active
            a(href="/dashboard") Bond

      .tab-contents
        .container
          if activeTab
            if  activeTab === 'bond'
                include ./tabs/bond
          