div
  div.auth-form
    form(action="/auth/changepassword", method="POST")
      //- input(type='hidden', name='_csrf', value=_csrf)
      div.form-group
        input.form-control(type="text", name="username", placeholder="Create Username")
        input.form-control.input-lg.no-radius(type="password", name="password", placeholder="New Password", required)      
        input.form-control.input-lg.no-radius(type="password", name="confirm_password", placeholder="Confirm Password", required)      
      div.form-group
        input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Change Password")