div.clients
  table.table
    thead.head               
      td Name                
      td Username
      td Organization
      td Phone
      td Email
      td
    tbody
      each user in users
        tr(style="font-size: 13px; font-weight: bold;")
          td #{user.firstname} #{user.lastname}
          td #{user.username}
          td #{user.organization.name}
          td #{user.phone}
          td #{user.email}
          td 
            //- button.btn.btn-success.btn-sm.edit-client Edit
            a.btn.btn-danger.btn-sm(href="/users/" + user.id + "/remove") Remove Client
            //- a.btn.btn-danger.btn-sm(href="/users/" + user.id + "/remove") Update