div
  div.auth-form
    form(action="/auth/register", method="POST")
      //- input(type='hidden', name='_csrf', value=_csrf)
      div.form-group
        input.form-control.form-control-sm.no-radius-bottom(type="text", name="firstname", placeholder="Firstname", autofocus, required)      
        input.form-control.form-control-sm.no-radius(type="text", name="lastname", placeholder="Lastname", required)
        input.form-control.form-control-sm.no-radius(type="text", name="organization", placeholder="Organization Name", required)
        //- select.form-control.form-control-sm.input-lg(name="organization")
          option(value="internal") Internal      
          option(value="external") External      
        input.form-control.form-control-sm.input-xs.no-radius(type="text", name="phone", placeholder="25571XXXXXX", required)
        input.form-control.form-control-sm.input-lg.no-radius-top(type="email", name="email", placeholder="Email", require)      
      div.form-group
        input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Add Client")