div
  table.table
    thead.head               
      td Name                
      td Username
      td Phone
      td Email
      
    each user in users
      tr(style="font-size: 13px; font-weight: bold;")
        td #{user.firstname} #{user.lastname}
        td #{user.username}
        td #{user.phone}
        td #{user.email}
        td.text-center
          if user.level.includes('admin')
            a.btn.btn-warning.btn-sm(href="/users/" + user.id + "/remove_admin") Unassign Admin
          else
            a.btn.btn-primary.btn-sm(href="/users/" + user.id + "/admin") Assign Admin
          a.btn.btn-danger.btn-sm(href="/users/" + user.id + "/remove") Remove User
        //- td
          if !user.verified
            a.btn.btn-sm.btn-dark(href="/auth/" + user.phone + "/verify") Verify
          else
            p Verified