div
  div.user-profile
    div.user-details
      p Name: <span>#{user.firstname} #{user.lastname}</span>
      p Username: <span>#{user.username}</span>
      p Email: <span>#{user.email}</span>
      p Phone: <span>#{user.phone}</span>

    div.auth-form(style="display: none;")
      form(action="/users/me", method="PUT")
        //- input(type='hidden', name='_csrf', value=_csrf)
        div.form-group
          input.form-control.form-control-sm.no-radius-bottom(type="text", name="firstname", placeholder="Firstname", value= user.firstname, autofocus, required)      
          input.form-control.form-control-sm.input-sm.no-radius(type="text", name="lastname", placeholder="Lastname", value= user.lastname, required)
          input.form-control.form-control-sm.input-xs.no-radius(type="text", name="phone", placeholder="25571XXXXXX", value= user.phone, required)
          input.form-control.form-control-sm.input-lg.no-radius-top(type="email", name="email", placeholder="Email", value= user.email, required)      
        div.form-group
          input.btn.btn-lg.btn-block.btn-dark(type="submit", value="Update")
    //- div
      a(href="javascript:void(0)").btn.btn-primary.btn-sm Edit
      //- a(href="javascript:void(0)").btn.btn-default.btn-sm(style="display: none;") Cancel