if messages.errors
  .alert.alert-danger.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle
    for error in messages.errors
      div.text-center= error.msg
if messages.info
  .alert.alert-info.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle
    for info in messages.info
      div.text-center= info.msg
if messages.success
  .alert.alert-success.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle
    for success in messages.success
      div.text-center= success.msg