footer
  div.container
    div.text-center
      p <a href="http://airseatz.com" target="_blank"><strong>Airsea (T) Ltd</strong></a> &copy; #{new Date().getFullYear()} All Rights Reserved
      p Developed By
        a(href="http://rluena.github.com") &nbsp; Rabii Luena