nav.navbar.navbar-expand-lg.navbar-fixed-top.navbar-dark.bg-dark(style="z-index: 1000;")
  a.navbar-brand(href="/")
    img(src="/public/images/logo.png", alt="")
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarText.collapse.navbar-collapse
    if user
      ul.navbar-nav.ml-auto
        //- li.nav-item
          a.nav-link(href="/notifications", title="Activities")
            //- if notifyCount && notifyCount > 0
            //- else 
            span.notification-label #{notifyCount} 0
            i.fa.fa-bullhorn
        //- li.nav-item
          a.nav-link(href="/users/me") #{user.firstname}