.sidebar.bg-primary.text-center
  ul.nav.flex-column.nav-top    
    if sidebarActive === 'home'
      li.nav-item.active
        a.nav-link(href="/dashboard")
          i.fa.fa-home.fa-2x
          p Home
    else
      li.nav-item
        a.nav-link(href="/dashboard")
          i.fa.fa-home.fa-2x
          p Home
    
    if user && user.organization.internal === true
      if sidebarActive === 'clearance'
        li.nav-item.active
          a.nav-link(href="/clearance")
            i.fa.fa-folder.fa-2x
            p Clearance
      else
        li.nav-item
          a.nav-link(href="/clearance")
            i.fa.fa-folder.fa-2x
            p Clearance

    //- if sidebarActive === 'cargo'    
    //-   li.nav-item.active
    //-     a.nav-link(href="/cargo")
    //-       i.fa.fa-ship.fa-2x
    //-       p Cargo
    //- else
    //-   li.nav-item
    //-     a.nav-link(href="/cargo")
    //-       i.fa.fa-ship.fa-2x
    //-       p Cargo

    if user && user.level.includes('admin')
      if sidebarActive === 'users'
        li.nav-item.active.bg-dark
          a.nav-link(href="/users")
            i.fa.fa-users.fa-2x
            p Users
      else
        li.nav-item
          a.nav-link(href="/users")
            i.fa.fa-users.fa-2x
            p Users
    
    if user && user.level.includes('admin')
      if sidebarActive === 'bond'
        li.nav-item.active.bg-dark
          a.nav-link(href="/bond")
            i.fa.fa-bitcoin.fa-2x
            p Bond
      else
        li.nav-item
          a.nav-link(href="/bond")
            i.fa.fa-bitcoin.fa-2x
            p Bond

    if user && user.organization.internal === false
      if sidebarActive === 'cargo'    
        li.nav-item.active
          a.nav-link(href="/cargo")
            i.fa.fa-ship.fa-2x
            p My Cargo
      else
        li.nav-item
          a.nav-link(href="/cargo")
            i.fa.fa-ship.fa-2x
            p My Cargo

    hr
    div(style="padding-top: 6em;")     
      
      li.nav-item
          a.nav-link(href="/users/me")
            i.fa.fa-user.fa-2x
            p Me
      
      li.nav-item
          a.nav-link(href="/auth/logout")
            i.fa.fa-sign-out.fa-2x
            p Logout