div
  div.form-container(style="max-width: 500px;")
    form(action="", method="POST")
      table
        tbody
          tr
            td.form-label Regime:
              td 
                input.form-control(type="text", name="regime", placeholder="Regime", value= transit.regime, required)
          tr
            td.form-label T1:
            td
              input.form-control(type="text", name="teeOne", placeholder="T1", value= transit.teeOne, required)
          tr
            td.form-label Sub-T1:
            td
              input.form-control(type="text", name="subTeeOne", placeholder="Sub-T1", value= transit.subTeeOne, required)
          tr
            td.form-label Bond Value:
            td
              input.form-control(type="text", name="bondValue", placeholder="Bond Value", value= transit.bondValue)
          tr
            td.form-label CRN:
            td
              input.form-control(type="text", name="CRN", placeholder="CRN", value= transit.CRN)
          tr
            td.form-label Issue Date:
            td
              input.form-control(type="date", name="issueDate", value= moment(transit.issueDate).format('YYYY-MM-DD'))
          tr
            td.form-label Departure Date:
            td
              input.form-control(type="date", name="departureDate", value= moment(transit.departureDate).format('YYYY-MM-DD'))
          tr
            td.form-label Goods Description:
            td
              textarea.form-control(style="height: 10em;", name="goodsDesc") #{transit.goodsDesc}
          tr
            td.form-label Container No:
            td
              input.form-control(type="text", name="containerNo", placeholder="Container No", value= transit.containerNo)
          tr
            td.form-label Vehicle No:
            td
              input.form-control(type="text", name="vehicleNo", placeholder="Vehicle No", value= transit.vehicleNo)
          tr
            td.form-label Trailer No:
            td
              input.form-control(type="text", name="trailerNo", placeholder="Trailer No", value= transit.trailerNo)
          tr
            td.form-label Semi-Trailer No:
            td
              input.form-control(type="text", name="semiTrailerNo", placeholder="Semi-Trailer No", value= transit.semiTrailerNo)
          tr
            td.form-label Transporter:
            td
              input.form-control(type="text", name="transporter", placeholder="Transporter", value= transit.transporter)
          tr
            td.form-label Driver Name:
            td
              input.form-control(type="text", name="driverName", placeholder="Driver Name", value= transit.driverName)
          tr
            td.form-label Driver License:
            td
              input.form-control(type="text", name="driverLicense", placeholder="Driver License", value= transit.driverLicense)
          tr
            td.form-label Status
            td
              select.form-control(name="status", style="height: 50px;")
                option(value="No-Activity", selected=transit.status == 'No-Activity') No Activity
                option(value="Documentation", selected=transit.status == 'Documentation') Under Documentation
                option(value="Physical-Verification", selected=transit.status == 'Physical-Verification') Physical Verification
                option(value="Exited", selected=transit.status == 'Exited') Exited
          //- tr
            td.form-label Bond Validation
            td
              select.form-control(name="bondValidation.status")
                option(value= true, selected=transit.bondValidation.status == true) Validated
                option(value= false, selected=transit.bondValidation.status == false) Non-Validated
          tr
            td
            td
              input.btn.btn-block.btn-lg.btn-dark(type="submit", value="Update")