div
  div
    form(action="", method="GET")
      table
        tbody
          tr
            td
              label Issue Date:
            td
              input(type="date", name="issueDateStart", value= query.issueDateStart ? moment(query.issueDateStart).format('YYYY-MM-DD'): "")
              input(type="date", name="issueDateEnd", value= query.issueDateEnd ? moment(query.issueDateEnd).format('YYYY-MM-DD'): "")
            td Status:
            td
              select(name="status")
                option(value="all", selected=query.status == 'all') All
                option(value="No-Activity", selected=query.status == 'No-Activity') No Activity
                option(value="Documentation", selected=query.status == 'Documentation') Under Documentation
                option(value="Physical-Verification", selected=query.status == 'Physical-Verification') Physical Verification
                option(value="Exited", selected=query.status == 'Exited') Exited
          tr
            td
              label Departure Date:
            td
              input(type="date", name="departDateStart", value= query.departDateStart ? moment(query.departDateStart).format('YYYY-MM-DD'): "")
              input(type="date", name="departDateEnd", value= query.departDateEnd ? moment(query.departDateEnd).format('YYYY-MM-DD'): "")

            td Bond Validation:
            td
              select(name="bondValidation")
                option(value="all", selected=query.bondValidation == 'all') All
                option(value="true", selected=query.bondValidation == 'true') Validated
                option(value="false", selected=query.bondValidation == 'false') Non-Validated
            
          tr
            td Regime:
            td
              if query.regime
                span
                  input#regimeAll(type="checkbox", value="all", name="regime[]", checked=query.regime.includes("all"))
                  label(for="regimeAll") All
                span
                  input#regimeIM7(type="checkbox", value="IM7", name="regime[]", checked=query.regime.includes("IM7"))
                  label(for="regimeIM7") IM7
                span
                  input#regimeIM8(type="checkbox", value="IM8", name="regime[]", checked=query.regime.includes("IM8"))
                  label(for="regimeIM8") IM8
                span
                  input#regimeEX3(type="checkbox", value="EX3", name="regime[]", checked=query.regime.includes("EX3"))
                  label(for="regimeEX3") EX3
              else
                span 
                  input#regimeIM7(type="checkbox", value="IM7", name="regime[]")
                  label(for="regimeIM7") IM7
                span
                  input#regimeIM8(type="checkbox", value="IM8", name="regime[]")
                  label(for="regimeIM8") IM8
                span
                  input#regimeEX3(type="checkbox", value="EX3", name="regime[]")
                  label(for="regimeEX3") EX3
          tr
            td
              label Destination Country:
            td
              if query.destCountry
                span
                  input#countryBurundi(type="checkbox", value="BI", name="destCountry[]", checked= query.destCountry.includes("BI"))
                  label(for="countryBurundi") BI, Burundi
                span
                  input#countryRwanda(type="checkbox", value="RW", name="destCountry[]", checked= query.destCountry.includes("RW"))
                  label(for="countryRwanda") RW, Rwanda
                span
                  input#countryKenya(type="checkbox", value="KE", name="destCountry[]", checked= query.destCountry.includes("KE"))
                  label(for="countryKenya") KE, Kenya
                span
                  input#countryUganda(type="checkbox", value="UG", name="destCountry[]", checked= query.destCountry.includes("UG"))
                  label(for="countryUganda") UG, Uganda
                span
                  input#countryZambia(type="checkbox", value="ZM", name="destCountry[]", checked= query.destCountry.includes("ZM"))
                  label(for="countryZambia") ZM, Zambia
                //- input#countryOthers(type="checkbox", value="others", name="destCountry[]", checked= query.destCountry.includes("others"))
                //- label(for="countryOthers") Others
              else
                input#countryBurundi(type="checkbox", value="BI", name="destCountry[]")
                label(for="countryBurundi") BI, Burundi
                input#countryRwanda(type="checkbox", value="RW", name="destCountry[]")
                label(for="countryRwanda") RW, Rwanda
                input#countryKenya(type="checkbox", value="KE", name="destCountry[]")
                label(for="countryKenya") KE, Kenya
                input#countryUganda(type="checkbox", value="UG", name="destCountry[]")
                label(for="countryUganda") UG, Uganda
                input#countryZambia(type="checkbox", value="ZM", name="destCountry[]")
                label(for="countryZambia") ZM, Zambia
                //- input#countryOthers(type="checkbox", value="others", name="destCountry[]")
                //- label(for="countryOthers") Others
        tr
          td
            button.btn.btn-dark(type="submit") Filter
      h5.text-right <strong>#{transits.length}</strong>
      hr

  //- <pre>#{JSON.stringify(query, null, 2)}</pre>
  
  .transits-content
    div 
      h3 #{transits.length}
        a.btn.btn-default.pull-right(href="javascript:void(0)", onclick="downloadTable(this)") Download File
    div#transit-table(data-tabular= transits)