div
  div
    form(action="", method="GET")
      table
        tbody
          tr
            td
              label Issue Date:
            td
              input(type="date", name="issueDateStart", value= query.issueDateStart ? moment(query.issueDateStart).format('YYYY-MM-DD'): "")
              input(type="date", name="issueDateEnd", value= query.issueDateEnd ? moment(query.issueDateEnd).format('YYYY-MM-DD'): "")
            td Status:
            td
              select(name="status")
                option(value="all", selected=query.status == 'all') All
                option(value="No-Activity", selected=query.status == 'No-Activity') No Activity
                option(value="Documentation", selected=query.status == 'Documentation') Under Documentation
                option(value="Physical-Verification", selected=query.status == 'Physical-Verification') Physical Verification
                option(value="Exited", selected=query.status == 'Exited') Exited
          tr
            td
              label Departure Date:
            td
              input(type="date", name="departDateStart", value= query.departDateStart ? moment(query.departDateStart).format('YYYY-MM-DD'): "")
              input(type="date", name="departDateEnd", value= query.departDateEnd ? moment(query.departDateEnd).format('YYYY-MM-DD'): "")

            td Bond Validation:
            td
              select(name="bondValidation")
                option(value="all", selected=query.bondValidation == 'all') All
                option(value="true", selected=query.bondValidation == 'true') Validated
                option(value="false", selected=query.bondValidation == 'false') Non-Validated
            
          tr
            td Regime:
            td
              if query.regime
                input#regimeIM7(type="checkbox", value="IM7", name="regime[]", checked=query.regime.includes("IM7"))
                label(for="regimeIM7") IM7
                input#regimeIM8(type="checkbox", value="IM8", name="regime[]", checked=query.regime.includes("IM8"))
                label(for="regimeIM8") IM8
                input#regimeEX3(type="checkbox", value="EX3", name="regime[]", checked=query.regime.includes("EX3"))
                label(for="regimeEX3") EX3
              else
                input#regimeIM7(type="checkbox", value="IM7", name="regime[]")
                label(for="regimeIM7") IM7
                input#regimeIM8(type="checkbox", value="IM8", name="regime[]")
                label(for="regimeIM8") IM8
                input#regimeEX3(type="checkbox", value="EX3", name="regime[]")
                label(for="regimeEX3") EX3
          tr
            td
              label Destination Country:
            td
              if query.destCountry
                input#countryBurundi(type="checkbox", value="BI", name="destCountry[]", checked= query.destCountry.includes("BI"))
                label(for="countryBurundi") BI, Burundi
                input#countryRwanda(type="checkbox", value="RW", name="destCountry[]", checked= query.destCountry.includes("RW"))
                label(for="countryRwanda") RW, Rwanda
                input#countryKenya(type="checkbox", value="KE", name="destCountry[]", checked= query.destCountry.includes("KE"))
                label(for="countryKenya") KE, Kenya
                input#countryUganda(type="checkbox", value="UG", name="destCountry[]", checked= query.destCountry.includes("UG"))
                label(for="countryUganda") UG, Uganda
                input#countryZambia(type="checkbox", value="ZM", name="destCountry[]", checked= query.destCountry.includes("ZM"))
                label(for="countryZambia") ZM, Zambia
                //- input#countryOthers(type="checkbox", value="others", name="destCountry[]", checked= query.destCountry.includes("others"))
                //- label(for="countryOthers") Others
              else
                input#countryBurundi(type="checkbox", value="BI", name="destCountry[]")
                label(for="countryBurundi") BI, Burundi
                input#countryRwanda(type="checkbox", value="RW", name="destCountry[]")
                label(for="countryRwanda") RW, Rwanda
                input#countryKenya(type="checkbox", value="KE", name="destCountry[]")
                label(for="countryKenya") KE, Kenya
                input#countryUganda(type="checkbox", value="UG", name="destCountry[]")
                label(for="countryUganda") UG, Uganda
                input#countryZambia(type="checkbox", value="ZM", name="destCountry[]")
                label(for="countryZambia") ZM, Zambia
                //- input#countryOthers(type="checkbox", value="others", name="destCountry[]")
                //- label(for="countryOthers") Others
          tr
          td
            button.btn.btn-dark(type="submit") Filter
      h5.text-right <strong>#{transits.length}</strong>
      hr

  .transits-content
    div
      table#transit-table-data.table(style="width: 100%; font-weight: bold;")
        thead.bg-primary(style="color: white;")
          tr
            td Regime
            td T1
            td Sub-T1
            td BT Declaration
            if !user.level.includes('admin')
              td Transit Container
            if user.level.includes('admin')
              td Bond Value
            td Issue Date
            td Departure Date
            td Destination Country
            td Status
            td Bond Validation
            if user.level.includes('admin')
              td Actions
        tbody
          each transit in transits
            tr
              td #{transit.regime} 
              td #{transit.teeOne}
              td #{transit.subTeeOne}
              td #{transit.BTDeclaration}
              if !user.level.includes('admin')
                td #{transit.containerNo}
              if user.level.includes('admin')
                td.text-right #{accounting.formatMoney(transit.bondValue, "", 2, ",")}
              td.text-right #{(transit.issueDate !== null) ? moment(transit.issueDate).format('DD/MM/YYYY') : 'Not Issued'}
              td.text-right #{(transit.issueDate !== null) ? moment(transit.departureDate).format('DD/MM/YYYY') : 'Not Departed'}
              td #{transit.destinationCountry.code}, #{transit.destinationCountry.name}
              td
                select.update-transit-status(data-url=`/clearance/${transit._id}/update_status`)
                  if transit.status === 'Documentation'
                    option(value="Documentation", selected) Documentation
                    option(value="Physical-Verification") Physical Verification
                    option(value="Exited") Exited
                  else if transit.status === 'Exited'
                    option(value="Documentation") Documentation
                    option(value="Physical-Verification") Physical Verification
                    option(value="Exited", selected) Exited
                  else if transit.status === 'Physical-Verification'
                    option(value="Documentation") Documentation
                    option(value="Physical-Verification", selected) Physical Verification
                    option(value="Exited") Exited
                  else
                    option(value="No-Activity" selected) No Activity
                    option(value="Documentation") Documentation
                    option(value="Physical-Verification") Physical Verification
                    option(value="Exited") Exited
              td.text-center
                - var bond = transit.bondValidation
                if bond.status
                  button.btn.btn-primary.btn-sm(type="button",title= moment(transit.bondValidation.validatedAt).format('DD/MM/YYYY'), data-container="body", data-toggle="popover", data-placement="top", data-title="Bond Validated", data-content= `Bond was validated on ${moment(bond.validatedAt).format('DD/MM/YYYY')}`) Validated <i class="fa fa-checked"></i>
                else
                  button.btn.btn-danger.btn-sm#bondValidatioBtn(type="button", data-transitid= transit._id, data-toggle="modal", data-target="#bondValidateModal") Validate Bond

              if user.level.includes('admin')
                td.actions-edit.pull-right
                  //- span <a class="btn btn-default btn-sm" href="javascript:void(0)"><i class="fa fa-eye"></i></a>
                  span
                    a(href=`/clearance/${transit._id}/edit`, title="Edit") <i class="fa fa-edit"></i>
                  span 
                    a(href=`/clearance/${transit._id}/delete`, title="Trash") <i class="fa fa-remove"></i>
  

  div.modal.fade#bondValidateModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          h2.modal-title Validate bond
        div.modal-content
          div.form-container(style="padding: 15px 15px")
            div.text-center.text-success(style="display: none;") <strong> Bond is validated successfully, you can continue validating other bonds and reload the page when you are done.</string>
            br
            form#validate-bond-form(style="max-width: 500px;")
              h4(for="validatedDate") Choose validation date
              div.form-group
                input.form-control#validatedDate(type="date", value= moment().format('YYYY-MM-DD'), max= moment().format('YYYY-MM-DD'), required)
              div.form-group
                button.btn.btn-block.btn-dark(type="submit") Validate