div
  .row
    .col-md-4
      p
        span Regime: 
        span= transit.regime
      p
        span T1: 
        span= transit.teeOne
      p
        span Sub: 
        span= transit.regime
      p
        span Regime: 
        span= transit.regime
    .col-md-4
    .col-md-4