div
  div
    div.chart-container
      h4.text-center Bond Usage
      canvas#pieBondUsage.chartComponent
      div.text-center(style="font-size: 15px;") Debit: <strong>#{accounting.formatMoney(usedBonds, "TZS ", 2, ",")}</strong>, Credit: <strong>#{accounting.formatMoney(totalBonds, "TZS ", 2, ",")}</strong>, Bond Balance: <strong>#{accounting.formatMoney(bondBalance, "TZS ", 2, ",")}</strong>
