extends layout

block content
  section.page-header
    div.text-center
      h5.header-title Dashboard

  .container
      include _partials/sidebar
      div
        div.tabs
          ul
            li.active
              a(href="/dashboard") Sumary
            
        .contents
          if activeTab 
            if  activeTab === all
              div
                h4 Clearance
