extends layout

block content
  include ./_partials/sidebar
  
  .container
    .right-contents
      include ./section_header

    
      .tab-contents
        .container
          div.text-center
            each notification in notifications
              li #{notification.msg}


